_page_1
===========================================================================================================================


* {margin: 0px; padding: 0px}

.container{background-image:url('img/telecaster.jpg');background-attachment:fixed;background-position:center bottom;background-size:cover;position:relative;width:100%;height:auto}

.navbar-default{}
.navbar-default{background-color:#000000;}
.navbar-default {border:2px;color;position:fixed;top:3%;right:2%;z-index:1;}
.navbar-nav{font-family:'Open Sans',sans-serif;font-weight:600;font-size:1.60em;float:right}
.navbar-default .navbar-nav>li{margin-right:10px; margin-bottom:20px;margin-top:20px}
.navbar-default .navbar-nav>li,.active{background-color:#FF8000;border-radius:6px}
.navbar-default .navbar-nav>li>a{color:#fff}
.navbar-default .navbar-right>li>a{color:#fff}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-right>li>a:hover{padding:10px;border:2px solid #fff;color:#000000}

.head .jumbotron {margin-top:190px;background:#151515;border:1px solid #fff;width:90%;text-align:center;margin-left:5%}
.head .jumbotron h1 {font-family:'Open Sans', sans-serif; font-weight:600;color:#fff}
.head .jumbotron p {font-family:'Open Sans', sans-serif; font-weight:900;color:#fff;padding:30px}
.hero .jumbotron{margin-top:-30px;margin-bottom;background:transparent}
.hero .row {width:100%;margin-top:40px;background-color:rgba(46,46,46,0.4);padding:10px}
.hero .jumbotron p {font-family:'Open Sans', sans-serif; font-weight:300;color:#fff}
.hero .btn-default a span {color:#fff;font-size:20px;font-weight:800}
.hero .btn-default a span:hover{color:#FF8000;font-weight:900;}
.hero .btn-default{padding:10px;background-color:blue;margin-left:1.5%}
.row img{width:490px; height:450px;vertical-align;padding:10px;margin:0px}

.content .jumbotron{width:90%;height:auto;background:#151515;margin-top:90px;margin-left:5%;overflow:hidden;border:1px solid #fff}
.content h2{color:#000;background-color:rgba(255,255,255,1);padding:4px}
.content p{color:#fff; padding-bottom:40px}

footer{border-top:1px solid #fff;bottom: 0;color: #707070;height: auto;left: 0;position: relative; //changed to relative from fixed also works if position is not therefont-size: small;width:100%;background-color:#000000}

footer p{text-align:center;font-family:'Open Sans',sans-serif;font-size:13px;color:#FF8000;padding-top:35px;padding-bottom:30px}
footer p.copy{position:relative;top:0px}
footer p.copy a{color:#fff;text-decoration:underline}
footer p.top{position:relative;top:px;cursor:pointer;font-family:'Meddon',sans-serif;font-size:45px}

_page_2
===========================================================================================================================
.wrapper{background-image:url('img/moon.jpg');background-attachment:fixed;background-position:center bottom;background-size:cover;position:relative;width:100%;height:auto}
